doctype html
html(lang="pt")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Fold | Em construção

        link(rel="stylesheet", href="css/in_construction.css")
    body
        video(src="/img/bg.mp4")
        main
            img(src='/img/logo_base.svg', alt='Fold logo')
            .content
                h1 Fold
                h2 Em construção
                p Fold é um espaço digital criativo. Um blog onde se aprende sobre design e programação através da experimentação.