meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@fold_software")

meta(property="og:site_name", content="Fold")

meta(property="og:locale", content="pt_BR")

meta(property="og:image:type", content="image/jpeg")
meta(property="og:image:width", content="1200")
meta(property="og:image:height", content="627")

meta(property="fb:app_id", content="3200466463356142")

script(src="/js/umbrella.js")

link(rel="alternate", type="application/rss+xml", title="RSS Feed Fold" href="/rss.xml")

script(type="application/ld+json")
    | {
    |   "@id": "https://fold.com.br/#website",
    |   "@context": "http://schema.org",
    |   "@type": "WebSite",
    |   "name": "Fold",
    |   "url": "https://fold.com.br"
    | }

script(type="application/ld+json")
    | {
    |   "@id": "https://fold.com.br/#organization",
    |   "@context":"http://schema.org",
    |   "@type":"Organization",
    |   "name": "Fold",
    |   "url": "https://fold.com.br",
    |   "logo": {
    |       "@type": "ImageObject",
    |       "url": "https://fold.com.br/img/logo-512.jpg",
    |       "width":"512",
    |       "height":"512"
    |   },
    |   "sameAs": ["https://twitter.com/fold_software", "https://www.facebook.com/fold.software/"]
    | }

script(type="application/ld+json")
    | {
    |   "@id": "https://fold.com.br/#author",
    |   "@context":"http://schema.org",
    |   "@type":"Person",
    |   "name": "Ygor de Paula",
    |   "url": "https://fold.com.br"
    | }